<launch>
  <arg name="robot" default="puddles" />
  <arg name="vision_computer" default="local" />

  <include file="$(find riptide_hardware)/launch/coprocessor.launch" />
  <include file="$(find riptide_hardware)/launch/imu.launch" />
  <include file="$(find riptide_hardware)/launch/dvl.launch" />
  <include file="$(find riptide_hardware)/launch/mynt_camera.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="vision_computer" value="$(arg vision_computer)" />
  </include>
</launch>
