<launch>
    <arg name="device" default="/dev/imu_riptide" />
    <arg name="enable_mag_update" default="true" />
    <arg name="enable_tf" default="false" />
    
    <include file="$(find imu_3dm_gx4)/launch/imu.launch" pass_all_args="true" />
    <include file="$(find imu_3dm_gx4)/launch/merge.launch" />
</launch>