<!-- To calibrate: 
    http://wiki.ros.org/camera_calibration
  -->

<!-- To change the settings of this camera, go into IE, 
   hit download, enable activeX, set english, and then log in 

   The camera has two streams. Settings can be changed in config
   Stream 0 is high resolution: Can be 1080p at 25 FPS or 3 MegaPixel at 15 FPS.
   Stream 1 is low resolution: Is at 25 FPS.
-->


<launch>
   <arg name="fps" default="25" />
   <param name="start_time" command="date +'%d-%m-%Y_%Ih%Mm%S'"/>

   <include file="$(find video_stream_opencv)/launch/camera.launch" >
        <arg name="camera_name" value="underwater_cam" />
        <arg name="set_camera_fps" value="$(arg fps)"/>
        <arg name="fps" value="$(arg fps)" />
        <arg name="video_stream_provider" value="rtsp://192.168.1.10:554/user=admin_password=6QNMIQGe_channel=0_stream=0.sdp?real_stream" />
        <arg name="camera_info_url" value="file:///$(find riptide_hardware)/cfg/underwater_cam.yaml" />
   </include>

   <node pkg="image_view" type="video_recorder" name="video_record_underwater_cam" output="screen">
      <param name="fps" value="$(arg fps)" />
      <param name="filename" command="bash -c 'printf &quot;${HOME}/underwater_cam_%(%Y-%m-%d-%I-%M-%S)T.avi&quot;'" />
      <remap from="/image" to="/underwater_cam/image_raw"/>
   </node>

   <!-- 
      If you want to rectify the image
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="underwater_cam"/>
   -->

</launch>
